<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luispuchades.popularmovies2">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MovieGridActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The manifest entry for the MovieDetailActivity.
             Each Activity requires a manifest entry -->
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MovieGridActivity"
            android:theme="@style/AppTheme.MovieDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MovieGridActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity_title"
            android:parentActivityName=".MovieGridActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MovieGridActivity" />
        </activity>

        <provider
            android:name=".data.MoviesProvider"
            android:authorities="com.luispuchades.popularmovies2"
            android:exported="false" />

    </application>

</manifest>